.media_5cm{
    border: 2pc blue solid;
    margin:10px;
    width: 5cm;
    height: 5cm; 
    background: rgb(76,76,161);
    color:white;

}

@media(max-width: 700px){
    body{
        background: lightsalmon;
    }
    .media_5cm{
        border:2 px blue solid;
        margin:10px;
        width: 4cm;
        height: 4cm; 
        background: red;
        color:black;
    }
}