
.navbar {
    border-radius: 15px;
}

.fondo2
{
    background-color: rgb(149, 3, 3);
}
.container {
    border-radius: 15px;
}

.fondo1{
    background-color: rgb(18, 18, 18);
}

    

